@import '_vars';
@import '_mixins';

body {
  @include bg-gradient();
}

.page-content {
  padding: 0 0;
  background: white;
}

.wrapper {
  padding: 15px 0;
}

section.front {
  position: relative;
  margin: 0 auto; 
  width: 960px;
}

.hidden {
  display: none;
}

.video-overlay {
  display: block;
  margin: 10px auto 0;
}
