@import '_vars';
@import '_mixins';

body {
  @include bg-gradient();
}

video {
  
  margin: 0 auto;
  padding: 0;
}

.page-content {
  padding: 0;
  background: white;
}

.wrapper {
  padding: 15px 0;
}

section.front {
  position: relative;
  margin: 0 auto; 
  width: 960px;
}

.hidden {
  display: none;
}

.video-overlay {
  display: block;
  margin: 0 auto;
  padding-top: 15px;
}

textarea {
  font-weight: 400;
  font-size: 12px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
}

input[name="_gotcha"] {
  display: none;
}
