@import '_vars';
@import '_mixins';

body {
  @include bg-gradient();
}

.page-content {
  padding: 0 0;
}

.wrapper {
  padding: 15px 0;
}

section.front {
  position: relative;
  margin: 0 auto; 
  video {
    position: relative;
    margin: 0 auto;
  }
  &.video-overlap {
  
  }
}

.hidden {
  display: none;
}
